body {

}
.w {
	margin: 0 auto;
	max-width: 1000px;
}

/* css filters applied on video element */
.grayscale {
  -webkit-filter: grayscale(1);
}
.sepia {
  -webkit-filter: sepia(1);
}
.blur {
  -webkit-filter: blur(3px);
}
.brightness {
  -webkit-filter: brightness(4);
}
.contrast {
  -webkit-filter: contrast(4);
}
.hue-rotate{
  -webkit-filter: hue-rotate(150deg);
}
.saturate{
  -webkit-filter: saturate(4);
}
.invert{
  -webkit-filter: invert(1);
}

#webcam-container, #canvas-copy {
  width: 200px;
  height: 150px;
}