/*video, #info, #description {
  display: none;
}
*/
/*#video-demo {
  position: absolute;
  top: 150px;
  left: 10px;
}*/

#webcam, #canvas-blended {
  display: none;
}

#slowmo-video {
  position: absolute;
  top: 600px;
  left: 10px;
  opacity: 0.90;
  width: 600px;
}

#canvas-source {
  position: absolute;
  top: 40px;
  left: 10px;
}

#canvas-blended {
  position: absolute;
  top: 407px;
  left: 500px;
  width: 150px;
  height: 113px;
}

#grid {
  position: absolute;
  top: 40px;
  left: 10px;
  width: 600px;
}

#grid div {
  width: 100px;
  height: 100px;
  float: left;
}
#grid div.active {
  background: red;
}

#grid img {
  float: left;
}

#grid img.active {
  opacity: 0 !important;
}

/*
#note1 { left: 82px; }
#note2 { left: 159px; }
#note3 { left: 238px; }
#note4 { left: 313px; }
#note5 { left: 390px; }
#note6 { left: 468px; }
#note7 { left: 544px; }*/

/* css filters applied on video element */
.grayscale {
  -webkit-filter: grayscale(1);
}
.sepia {
  -webkit-filter: sepia(1);
}
.blur {
  -webkit-filter: blur(3px);
}
.brightness {
  -webkit-filter: brightness(4);
}
.contrast {
  -webkit-filter: contrast(4);
}
.hue-rotate{
  -webkit-filter: hue-rotate(150deg);
}
.saturate{
  -webkit-filter: saturate(4);
}
.invert{
  -webkit-filter: invert(1);
}